body {
    background-color: black;

}


#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    color: aliceblue;
    margin-top: 2%;
    font-size: 2em;
    font-family: "Courier New";
    font-weight: 900;

}

#links {
    text-align: center;
    margin-top: 18%;
    animation-name: test;
    animation-duration: 100s;

}

.var-highlight {
    color: #C0AD60;
}

.string-highlight {
    color: rgba(253, 149, 90, 0.8);
}

#object {
    margin-top: 12%;
}

#typewriter {}

#typewriter:after {
    content: "|";
    animation: blink 300ms linear infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes test {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}